<div layout="column" layout-padding ng-cloak>

    <div layout="row" layout-xs="column" layout-align="start center" layout-padding>
        <div>
            <img mod-img-src="openweathermap.png"/>
        </div>
        <div>
            <p>OpenWeatherMap is an online weather service that offers for free current weather conditions and forecast for next 5 days.</p>
            <p>Please create a free account on <a href="https://home.openweathermap.org/" target="_blank">OpenWeatherMap</a> website</p>
            <p>Then paste below your apikey from your <a href="https://home.openweathermap.org/api_keys" target="_blank">settings &gt; Api keys</a> page</p>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Api key</label>
            <input type="text" ng-model="openweathermapCtl.apikey"></input>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" ng-click="openweathermapCtl.setApikey()" aria-label="Save">Save</md-button>
        </div>
    </div>

</div>

