<md-dialog aria-label="Openweather dialog" flex="50">

    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Weather</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="owmCtl.cancelDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" layout-padding>

            <!-- weather -->
            <div>
                <span class="md-title">Current conditions</span>
            </div>
            <div layout="row" layout-align="center center">
                <div flex="25" style="text-align:center;">
                    <md-icon class="icon-xl" ng-class="owmCtl.getIconClass()"></md-icon>
                </div>
                <div flex="75" layout="column" layout-padding>
                    <div style="text-align:center;">
                        <span class="md-headline">{{owmCtl.device.condition}} {{owmCtl.device.celsius}}°C</span>
                    </div>
                    <div layout="row" layout-align="space-around stretch">
                        <div>
                            <md-icon md-svg-icon="water-percent" class="icon-md">
                                <md-tooltip>Humidity</md-tooltip>
                            </md-icon>
                            <span>{{owmCtl.device.humidity}}%</span>
                        </div>
                        <div>
                            <md-icon md-svg-icon="gauge" class="icon-md">
                                <md-tooltip>Pressure</md-tooltip>
                            </md-icon>
                            <span>{{owmCtl.device.pressure}}hPa</span>
                        </div>
                        <div>
                            <md-icon md-svg-icon="weather-windy" class="icon-md">
                                <md-tooltip>Wind (direction {{owmCtl.device.wind_direction}})</md-tooltip>
                            </md-icon>
                            <span>{{owmCtl.device.wind_speed}}m/s {{owmCtl.device.wind_direction}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- forecast -->
            <div>
                <span class="md-title">{{owmCtl.selection}} forecast</span>
            </div>
            <div ng-if="owmCtl.loading" layout="row" layout-align="space-around center" style="height:200px;">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="!owmCtl.loading">
                <nvd3 options='owmCtl.graphOptions' data='owmCtl.forecastData'></nvd3>
            </div>
            <div layout="row">
                <div flex></div>
                <div>
                    <md-button aria-label="Temperature" ng-click="owmCtl.change('temperature')">
                        <md-icon md-svg-icon="oil-temperature"></md-icon>
                        Temp.
                    </md-button>
                </div>
                <div>
                    <md-button aria-label="Humidity" ng-click="owmCtl.change('humidity')">
                        <md-icon md-svg-icon="water-percent"></md-icon>
                        Humi.
                    </md-button>
                </div>
                <div>
                    <md-button aria-label="Pressure" ng-click="owmCtl.change('pressure')">
                        <md-icon md-svg-icon="gauge"></md-icon>
                        Press.
                    </md-button>
                </div>
                <div>
                    <md-button aria-label="Wind" ng-click="owmCtl.change('wind')">
                        <md-icon md-svg-icon="weather-windy"></md-icon>
                        Wind
                    </md-button>
                </div>
            </div>

        </md-dialog-content>

    </form>

</md-dialog>
